div {
    text-align: center;
    color: white;
}
Link {

}

.App-logo {
    height: 400vmin;
    pointer-events: none;
}
body{
    background-color: rgba(236,0,0,255);
}
.App-header {
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: white;
}
h1,h2, Link {
    color: white;
}
button{
    color:red;
    background-color: white;
    width: 200px;
    height: 50px;
    font-family: Arial;
    font-size: 15px;
    border-radius: 15px;
    border: rgba(236,0,0,255);
}


img.App-logo{
    width: 500px;
    height: 200px;
}

img.App-logo-email, img.App-logo-sms, img.App-logo-push{
    width: 200px;
    height: 200px;
}
